<div class='hero'>
  <div class='container'>
    <h1>Summer 2013 Courses & Pricing</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16' id="accordion">
      <p>
      硅谷考试培训中心（SVPrep）2013年夏天将提供各种课程。每门课的老师都是在各自的领域中成绩优异的大学生。关于课程开始和结束的日期和地点，请看网页的<a href="/logistics?lang=ch">Timings & Location</a>部分。
      </p>
      <h2>Introduction to Java & Computer Science ($450 / 5 weeks)</h2>
      <div id="java">
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - (Saturday 10AM - 1PM, Sunday 2PM - 5PM)</h5>
        <h5 class="course-subheader">Intended for students entering grades 7-10</h5>
        <p>
          本课程主要向学生介绍计算机科学的基础知识。学生将学习如何用Java程序编程，及一些Java的基本概念。本课程将培养学生自己的应用小程序，也为他们提供足够的知识来参加初学者的水平美国计算机奥林匹克竞赛。
        </p>
        <p>
          本课程将涵盖以下主题：
          <ul>
          <li>Classes</li>
          <li>Inheritance</li>
          <li>Methods and Parameters</li>
          <li>Constructors</li>
          <li>Object-oriented Programming</li>
          <li>Loops</li>
          </ul>
        </p>
      </div>
      <h2>Public Speaking ($450 / 5 weeks)</h2>
      <div id="pubsp">
        <!-- <h4 class="course-instructor">Course instructors: Carl Shan and Ashwin Aravind</h4> -->
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - (Saturday 2PM - 5PM, Sunday 10AM - 1PM)</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM, Saturday 2PM - 5PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 5-9</h5>
        <p>
          本课程将强调建立信心的能力，公众演讲技巧和原则以及总样在生活中取得成功。课程将教学生如何有效地写，说。最终将做一个能在班里向家长和同学演讲的课题。我们希望大学生老师能给我们所有的学生是一个积极的示范作用，不仅教他们演讲的技巧，也教他们生活的教训。
        </p>
      </div>
  
      <h2>Debate & Argumentation ($450 / 5 weeks)</h2>
      <div id="debarg">
        <!-- <h4 class="course-instructor">Course instructors: Alan Kao</h4> -->
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - Sunday 10AM - 1PM</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 7-10</h5>
        <p>
          学生将学习辩论时如何有效地研究，组织一个有说服力的题目，并选择具体的证据，最能影响观众。学生将学习基本的的辩论术语和技术条款，提高他们的写作能力。本课程也将教学生中一些细微的辩论技术，包括三个辩论的要素。此外，学生将学习使用诘问技术，即在辩论中对手可以互相提问。 这些战略性的方法，能提高自己的获胜机会。
        </p>
        <p>
          本课程将涵盖以下主题：
          <ul>
            <li>How to formulate a logical argument</li>
            <li>How to create a case for your side</li>
            <li>Strategies and techniques for success</li>
            <li>How to refute opposing arguments</li>
            <li>Eloquent delivery and presentation</li>
          </ul>
        </p>
      </div>
      <h2>Essay Writing & Journalism ($450 / 5 weeks)</h2>
      <div id="essayWriting">
        <!-- <h4 class="course-instructor">Course instructors: Alan Kao</h4> -->
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - Saturday 2PM - 5PM</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 5-9</h5>
        <p>
          写作是在教育领域的最重要的工具。但往往学生在学校学得不够。我们的散文写作和新闻类将提供学生基本的写作技能。学生将学习写作的几种形式，包括诗歌，有说服力的演讲，说明文，以及不同的风格，创造性的散文。参加本课程的学生将对学到一些高水平的策略来应对一些难的学科，比如SAT，SAT II，AP考试。
        </p>
      </div>
      <h2>Introduction to Physics Mechanics ($450 / 5 weeks)</h2>
      <div id="debarg">
        <!-- <h4 class="course-instructor">Course instructors: Alan Kao</h4> -->
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - Saturday 10AM - 1PM</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
	<h5 class="prereq-subhead">Prerequisites: Algebra, Geometry (recommended)</h5>
        <h5 class="course-subheader">Intended for students entering grades 7-10</h5>
        <p>
		  学生将能够探索物理力学的奥妙。本课程是为好的数学背景学生提供科学教育的一个跳板。本课程会把枯燥的基本物理力学原理变成一个有趣的和身临其境的经历。这个教程的各种基本概念和课目，也将为准备SAT II物理，AP物理C部分 - 力学考试相关的课程提供帮助。
        </p>
        <p>
          本课程将涵盖以下主题：
          <ul>
            <li>Vectors, vector algebra</li>
            <li>Coordinate systems, displacement, velocity, acceleration</li>
            <li>Kinematics (motion in one diemsnion, motion in two dimension)</li>
            <li>Static Equilibrium</li>
            <li>Dynamics of a single particle</li>
            <li>Systems of two or more bodies</li>
            <li>Work, energy, and power</li>
          </ul>
        </p>
      </div>
      <!-- <h2><a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#hssuper">How to be a High School Superstar ($450 / 5 weeks)</a></h2>
      <div id="hssuper" class="collapse">
        <p>
          Do you want to be a high-school superstar? Do you want to stand out, without burning out? This class will deconstruct success and de-mystify what it is about amazing accomplishments that we find truly impressive. In this class, we will help students discover their own passions, learn to take advantage of opportunities or create ones if they don’t exist, and actualize their potential.
        </p>
        <p>
          All students will be provided with a free copy of author Cal Newport’s book “How to be a High School Superstar”
        </p>
        <p>
          The course will cover the following topics:
          <ul>
            <li>Defeating procrastination</li>
            <li>Finding your passion</li>
            <li>Discovering your identity & life principles</li>
            <li>Project & task management</li>
            <li>Building your confidence & leadership skills</li>
            <li>Creating opportunities for yourself</li>
            <li>...and much more!</li>
          </ul>
        </p>
      </div> -->
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup?lang=ch' title='Sign up for your classes now'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
