<div class='hero'>
  <div class='container'>
    <h1>Courses & Pricing</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16' id="accordion">
      <p>
        Silicon Valley Prep is offering a variety of courses this year. Please click on the course title to expand and view the course description and curriculum.
      </p>
      <h2><a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#java">Introduction to Java & Computer Science ($450 / 5 weeks)</a></h2>
      <div id="java" class="collapse">
        <h5>San Jose - (Saturday 10AM - 1PM, Sunday 2PM - 5PM)</h5>
        <h5 class="course-subheader">Intended for students entering grades 6-12</h5>
        <p>
          This course will be focused on introducing students to the fundamentals of computer science. Students will be taught how to program in Java and will learn the basic concepts of programming. This course will prepare students to make small applications on their own and will also provide them with enough knowledge to participate in the USA Computing Olympiad at the beginner level.
        </p>
        <p>
          The course will cover the following topics:
          <ul>
          <li>Classes</li>
          <li>Inheritance</li>
          <li>Methods and Parameters</li>
          <li>Constructors</li>
          <li>Object-oriented Programming</li>
          <li>Loops</li>
          </ul>
        </p>
      </div>
      <h2><a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#pubsp">Public Speaking ($450 / 5 weeks)</a></h2>
      <div id="pubsp" class="collapse">
        <!-- <h4 class="course-instructor">Course instructors: Carl Shan and Ashwin Aravind</h4> -->
        <h5>San Jose - (Saturday 2PM - 5PM, Sunday 10AM - 1PM)</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM, Saturday 2PM - 5PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 4-9</h5>
        <p>
          This course will emphasize the teaching of confidence-building skills, public speaking techniques and principles for succeeding in life. The class will be oriented around both learning how to write and speak effectively, and will culminate in a class project that will ask students to create a final speech and present it to an audience of parents and peers. This class will revolve around the instruction of not only public speaking, but also life lessons. We hope to be a positive role model for all of our students.
        </p>
      </div>
  
      <h2><a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#debarg">Debate & Argumentation ($450 / 5 weeks)</a></h2>
      <div id="debarg" class="collapse">
        <!-- <h4 class="course-instructor">Course instructors: Alan Kao</h4> -->
        <h5>San Jose - (Saturday 10AM - 1 PM, Sunday 10AM - 1PM)</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 5-9</h5>
        <p>
		      Students will learn the basic structure of a debate case, going over how to effectively research, organize a persuasive essay, and choose specific pieces of evidence that would best influence an audience. Students will learn basic debate jargon and technical terms, improving their ability to write a debate case quickly with specific points in mind. This course will also focus on the nuances of an argument, including discussion on the three specific components that comprise a formal argument. In addition, students will learn the usage of Cross-Examination, a period of time in debate during when opposing debaters are allowed to question each other, in strategic and valuable ways to enhance your own chances of winning while setting your opponents up to losing the argument.
        </p>
        <p>
          The course will cover the following topics:
          <ul>
            <li>How to formulate a logical argument</li>
            <li>How to create a case for your side</li>
            <li>Strategies and techniques for success</li>
            <li>How to refute opposing arguments</li>
            <li>Eloquent delivery and presentation</li>
          </ul>
        </p>
      </div>
      <!-- <h2><a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#hssuper">How to be a High School Superstar ($450 / 5 weeks)</a></h2>
      <div id="hssuper" class="collapse">
        <p>
          Do you want to be a high-school superstar? Do you want to stand out, without burning out? This class will deconstruct success and de-mystify what it is about amazing accomplishments that we find truly impressive. In this class, we will help students discover their own passions, learn to take advantage of opportunities or create ones if they don’t exist, and actualize their potential.
        </p>
        <p>
          All students will be provided with a free copy of author Cal Newport’s book “How to be a High School Superstar”
        </p>
        <p>
          The course will cover the following topics:
          <ul>
            <li>Defeating procrastination</li>
            <li>Finding your passion</li>
            <li>Discovering your identity & life principles</li>
            <li>Project & task management</li>
            <li>Building your confidence & leadership skills</li>
            <li>Creating opportunities for yourself</li>
            <li>...and much more!</li>
          </ul>
        </p>
      </div> -->
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
