<div class='hero'>
  <div class='container'>
    <h1>Summer 2013 Courses & Pricing</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16' id="accordion">
      <p>
      Silicon Valley Prep is offering a variety of courses for Summer 2013. Each course is taught by college students who had excelled in their field during their high school career. For details such as start an end date and location, visit <a href="/logistics">Timings & Location</a>.
      </p>
      <p>
      We also offer various discounts that you may be eligible for; visit <a href="/discounts">Discounts</a> for more information.
      </p>
      <p>
      <h3><i>If you register for your classes before <u>May 1st</u>, you will receive <b>$50</b> off your total price.</i></h3>
      </p>
      <h2>Introduction to Java & Computer Science ($400 / 5 weeks)</h2>
      <div id="java">
        <h4 class="course-instructor">Course instructor: Gerald Fong and Sharad Vikram</h4>
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - (Saturday 10AM - 1PM, Sunday 2PM - 5PM)</h5>
        <h5 class="course-subheader">Intended for students entering grades 7-10</h5>
        <p>
          This course will be focused on introducing students to the fundamentals of computer science. Students will be taught how to program in Java and will learn the basic concepts of programming. This course will prepare students to make small applications on their own and will also provide them with enough knowledge to participate in the USA Computing Olympiad at the beginner level.
        </p>
        <p>
          The course will cover the following topics:
          <ul>
          <li>Classes</li>
          <li>Inheritance</li>
          <li>Methods and Parameters</li>
          <li>Constructors</li>
          <li>Object-oriented Programming</li>
          <li>Loops</li>
          </ul>
        </p>
      </div>
      <h2>Public Speaking ($400 / 5 weeks)</h2>
      <div id="pubsp">
        <h4 class="course-instructor">Course instructor: Pavan Upadhyayula</h4>
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - (Saturday 2PM - 5PM, Sunday 10AM - 1PM)</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM, Saturday 2PM - 5PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 5-9</h5>
        <p>
          This course will emphasize public speaking not as a singular event, but instead as an outgrowth of how individuals carry themselves on a daily basis. By focusing on confidence-building skills, verbal and non-verbal cues as well as an appreciation of one’s audience and subject material, this course will ensure that students know how to communicate effectively, persuasively and concisely. This class will culminate in a final project that will ask students to create a final speech and present it to an audience of parents and peers. The goal of this class is to impart life-lessons that will help students become leaders among their peers and beyond.
        </p>
      </div>
  
      <h2>Debate & Argumentation ($400 / 5 weeks)</h2>
      <div id="debarg">
        <h4 class="course-instructor">Course instructors: Alan Kao</h4>
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - Sunday 10AM - 1PM</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 7-10</h5>
        <p>
		      Students will learn the basic structure of a debate case, going over how to effectively research, organize a persuasive essay, and choose specific pieces of evidence that would best influence an audience. Students will learn basic debate jargon and technical terms, improving their ability to write a debate case quickly with specific points in mind. This course will also focus on the nuances of an argument, including discussion on the three specific components that comprise a formal argument. In addition, students will learn the usage of Cross-Examination, a period of time in debate during when opposing debaters are allowed to question each other, in strategic and valuable ways to enhance your own chances of winning while setting your opponents up to losing the argument.
        </p>
        <p>
          The course will cover the following topics:
          <ul>
            <li>How to formulate a logical argument</li>
            <li>How to create a case for your side</li>
            <li>Strategies and techniques for success</li>
            <li>How to refute opposing arguments</li>
            <li>Eloquent delivery and presentation</li>
          </ul>
        </p>
      </div>
      <h2>Essay Writing & Journalism ($400 / 5 weeks)</h2>
      <div id="essayWriting">
        <h4 class="course-instructor">Course instructors: Alina Zhu</h4>
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - Saturday 2PM - 5PM</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
        <h5 class="course-subheader">Intended for students entering grades 5-9</h5>
        <p>
        Essay writing is one of the most important, but often undertaught, subjects in the field of education. Silicon Valley Prep’s Essay Writing and Journalism class will be an introduction into the proper planning, structuring and writing that goes into crafting both an exemplary essay and a piece of journalism. This course will help students develop their reading and writing skills, as they learn tools to analyze a piece of writing and create their own. Students will study several forms of writing, including poetry, persuasive speeches, and expository essays, as well as different styles, which range from creative free form to concise wording used for academia. Students who enroll in this course will be introduced to many high-level strategies for tackling intimidating essay prompts or subjects, such as those given in the SAT, SAT II Subject, and AP tests.
        </p>
      </div>
      <h2>Introduction to Physics Mechanics ($400 / 5 weeks)</h2>
      <div id="debarg">
        <h4 class="course-instructor">Course instructors: Linda Xu</h4>
        <h5>Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129 - Saturday 10AM - 1PM</h5>
        <!-- <h5>Fremont - O-Mei Learning Center (Saturday 10AM - 1PM)</h5> -->
	<h5 class="prereq-subhead">Prerequisites: Algebra, Geometry (recommended)</h5>
        <h5 class="course-subheader">Intended for students entering grades 7-10</h5>
        <p>
		Students will be able to explore the beauty behind physics mechanics. This course is designed for students with a strong mathematical backgrounds who want to get a jump start in their science education. This course will go over the fundamental Physics Mechanics principles in a fun and immersive experience. The curriculum will focus on building an intiution for general concepts while teaching various subjects that will be relevant in preparation for sections of the SAT II Physics and AP Physics C - Mechanics exam.
        </p>
        <p>
          The course will cover the following topics:
          <ul>
            <li>Vectors, vector algebra</li>
            <li>Coordinate systems, displacement, velocity, acceleration</li>
            <li>Kinematics (motion in one diemsnion, motion in two dimension)</li>
            <li>Static Equilibrium</li>
            <li>Dynamics of a single particle</li>
            <li>Systems of two or more bodies</li>
            <li>Work, energy, and power</li>
          </ul>
        </p>
      </div>
      <!-- <h2><a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#hssuper">How to be a High School Superstar ($400 / 5 weeks)</a></h2>
      <div id="hssuper" class="collapse">
        <p>
          Do you want to be a high-school superstar? Do you want to stand out, without burning out? This class will deconstruct success and de-mystify what it is about amazing accomplishments that we find truly impressive. In this class, we will help students discover their own passions, learn to take advantage of opportunities or create ones if they don’t exist, and actualize their potential.
        </p>
        <p>
          All students will be provided with a free copy of author Cal Newport’s book “How to be a High School Superstar”
        </p>
        <p>
          The course will cover the following topics:
          <ul>
            <li>Defeating procrastination</li>
            <li>Finding your passion</li>
            <li>Discovering your identity & life principles</li>
            <li>Project & task management</li>
            <li>Building your confidence & leadership skills</li>
            <li>Creating opportunities for yourself</li>
            <li>...and much more!</li>
          </ul>
        </p>
      </div> -->
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
