<div class='hero'>
  <div class='container'>
    <h1>Discounts</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
      <p> You may use multiple discounts that we have listed below to create an unbeatable price. For example, if you have register before April 10th, and refer two other students to SVPrep, you will receive a <b>$175</b> discount from your original $450 fee and pay a total of <b>$275!</b>
      </p>
      <h3>Early Bird Discount</h3>
      <p>
        Get <b>$75</b> off your total purchase price if you sign up before <b>April 10th</b>.
      </p>
      <h3>Multiple Class Discount</h3>
      <p>
      You will receive <b>$50</b> off your total for each additional class you sign up for after the first one. For example, if you sign up for three classes, you will get a $100 discount from your total purchase price.
      </p>
      <h3>Sibling Discount</h3>
      <p>
        If you have an additional child sign up for classes, you will receive <b>$50</b> off of your total on top of any additional discounts. For example, if you sign up 3 children, you will get a <b>$100</b> discount.
      </p>
      <h3>Referral Discount</h3>
      <p>
        For each person that you refer, you will receive <b>$50</b> off your total on top of any additional discounts. You can refer up to 4 people, for a max of <b>$200</b> off your total price.
      </p>
      <h3>Referred Bonus</h3>
      <p>
        If you get referred, send us the information of the referrer and you will receive <b>$10</b> off your total price.
      </p>
      <h3>Price Matching Policy</h3>
      <p>
        If you find a competitor program offering the same class offered at Silicon Valley Prep for a cheaper price, contact us at contact@svprep.org and we will match the price and give you an additional discount on top of it. We value your support, and will always give you the cheapest price.
      </p>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
