<div class='hero'>
  <div class='container'>
    <h1>Discounts</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
      <h3>早注册优惠</h3>
      <p>
        如果您在4月10日前注册，您将得到75美元的折扣。
      </p>
      <h3>多选课折扣</h3>
      <p>
		如果你注册第一个课程后，其他的课程将得到每课程$ 50的优惠折扣。例如，如果您注册三个课程，你会得到100美元的折扣。
      </p>
      <h3>家庭优惠</h3>
      <p>
        如果你有多个孩子参加课程，第二个以上的孩子会得到$50得折扣。
      </p>
      <h3>推荐优惠</h3>
      <p>
        如果你介绍你的亲朋好友参加，你将获得每人$ 50的折扣。你最多可得到200美元的折扣。
      </p>
      <h3>被引荐奖励</h3>
      <p>
        如果你被引荐，给我们推荐者的信息，您将收到$ 10折扣。
      </p>
      <h3>Price Matching Policy</h3>
      <p>
        If you find a competitor program offering the same class offered at Silicon Valley Prep for a cheaper price, contact us at contact@svprep.org and we will match the price and give you an additional discount on top of it. We value your support, and will always give you the cheapest price.
      </p>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup?lang=ch' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
