<div class='hero'>
  <div class='container'>
    <h1>FAQ</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
      <h3>When and where will Silicon Valley Prep be held?</h3>
      <p>
		The camp will be held on Saturdays from June 16th to August 19th at several locations depending on the class. Please visit our <a href="/courses">Courses Page</a> to learn more about where each class will be located. Each class session will run from either 10:00AM to 1:00PM or 2:00PM to 5:00PM. In addition, instructors will also be available to hold Office Hours (office hour locations will be announced during class and via e-mail) and work with students in smaller groups to help them in areas that they are having trouble with.
      </p>
      <h3>What is the main purpose of Silicon Valley Prep?</h3>
      <p>
        Silicon Valley Prep seeks to equip young leaders of today to thrive in the Silicon Valley. Our goal is to impart our knowledge of computer science, and public speaking and life lessons among our students. Students who know how to speak with persuasion, understand the nuances of technology, and have a firm grasp of the world are those who will be the next generation of entrepreneurs, business professionals, and community leaders. That standard is what we strive to support and instill in all students enrolled.
      </p>
      <h3>What will happen over the entire 5-week course?</h3>
      <p>
        Each 5-week course is designed to give a comprehensive understanding of the subject matter and prepare each student to use the knowledge in future competitions and take advanced coursework. Please check the <a href="/courses">Courses Page</a> for a description of each course's curriculum. If you are interested in a more detailed description of each course, feel free to email us at contact@svprep.org for further details.
      </p>
      <h3>Will lunch be provided?</h3>
      <p>
        No, the camp will not be providing lunch. However, our first session of classes will last from 10:00 AM to 1:00 PM and our second session will be from 2:00 PM to 5:00 PM, leaving an hour from 1:00 PM to 2:00 PM for a lunch break. In addition, food will not be allowed in the classroom.
      </p>
      <h3>What materials should be brought to camp each day?</h3>
      <p>
        Students should bring paper and pens or pencils each day to participate in the course's daily activities. Students who are signing up for the computer science course are required to bring a laptop as well. Specific materials for other classes will be assigned by individual instructors on the first day of class.
      </p>
      <h3>What if my child can't come for the entire time?</h3>
      <p>
        Silicon Valley Prep offers a flexible, two-session schedule: one from 10:00AM to 11:00PM and another from 1:00PM to 4:00PM. Furthermore, we encourage students to come to Office Hours, which will be held Sunday at a time and place that we will announce each week. If you can't make it to part of the class time, we will provide the materials and the curriculum that was missed.
      </p>
      <h3>What is your refund policy?</h3>
      <p>
        Up until the week of the second class, you are eligible for a full refund. After that, you are eligible for a 50% refund until the third week of classes. After that point, no more refunds will be processed.
      </p>
      <h3>Can I sign up for more than one course?</h3>
      <p>
        Yes! In addition to gaining the benefit of gaining twice as much knowledge from Silicon Valley Prep, you will receive a $50 discount on the second course you register for!
      </p>
      <h3>Is there a group deal?</h3>
      <p>
        For parents who sign up more than 1 child, for each addition child that is signed up, you will receive a $50 overall discount. We also provide an easy payment calculator on our signups page to help guide this process.
        <br />
        Please see our referrals page for details on our discount rate!
	    </p>
      <h3>Who can I contact for more information?</h3>
      <p>
        Feel free to email us with any questions, comments, etc. at contact@svprep.org.
      </p>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
