<div class='hero'>
  <div class='container'>
    <h1>FAQ</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
      <h3>时间和地点：</h3>
      <p>
		该营将在周六举行，从六月15号至八月20日。不同的课程会在不同的地点。具体请访问我们的网页。每节课从上午10:00 到下午1:00或下午2:00 至5:00 。此外，教师也将提供课外辅导（办公地点和时间将公布在课堂上和通过e-mail工布）。
      </p>
      <h3>SV Prep的主要目的是什么？</h3>
      <p>
        硅谷准备寻求装备的青年领袖今天在硅谷蓬勃发展。我们的目标是在我们的学生传授我们的知识，计算机科学，公开演讲和生命吸取。谁知道怎么说话的劝说下，了解技术的细微差别，并有一个坚定的把握世界的学生是那些谁将会成为下一代企业家，专业人士和社区领袖。这个标准是什么，我们努力支持和培养所有学生入学。
      </p>
      <h3>会发生什么事，在整个5周的课程吗？</h3>
      <p>
        每5周课程的目的是提供一个全面的了解，标的物的，准备每个学生运用所学知识，在未来的竞争中，采取先进的课程。请课程，每门课程的课程的说明。如果你是一个更详细的说明，每门课程感兴趣，请随时给我们发电子邮件在contact@svprep.org进一步详情。
      </p>
      <h3>你们提供午餐吗？</h3>
      <p>
        我们不提供午餐。然而，我们的第一堂课下午1:00就结束了，而我们的第二堂课2:00才开始，留着一个小时吃中饭，休息。此外，教室里不许带食品。
      </p>
      <h3>应该带什么样的材料呢？</h3>
      <p>
        学生们应该带着纸和钢笔或铅笔的每一天，参加课程的日常活动。订阅的计算机科学课程的学生必须携带一台笔记本电脑以及。其他类别的具体材料将被分配给个别教师在上课的第一天。
      </p>
      <h3>我的孩子不能参加每一堂课，真么办？</h3>
      <p>
        我们没个星期六都提供两堂课：10:00 AM至11:00 PM和1:00 PM至4:00 PM。此外，我们鼓励学生来到每周星期天的办公时间。我们没周会宣布时间和地点。如果您的孩子缺一点课，我们会提供他所缺的材料和课程。
      </p>
      <h3>退款政策是什么？</h3>
      <p>
        直到第二堂课的那个星期，你有资格拿到全额退款。从那到第三个星期，你有资格得到50％的退款。在这之后，退款就不会再被处理了。
      </p>
      <h3>我能够注册几门课？</h3>
      <p>
        随便您！除了能学得更多，您注册的第二门课将收到50美元的折扣！
      </p>
      <h3>有家庭优惠吗？</h3>
      <p>
        第一个孩子原价，第二或以上的孩各减50美元。我们在注册等页上还提供一个付款计算器。
	  </p>
      <h3>可以与谁联系？</h3>
      <p>
        要是您有任何问题或意见，请随时给我们发电子邮件：contact@svprep.org。
      </p>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup?lang=ch' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
