    <div class='hero ac'>
      <div class='container'>
        <h2>用硅谷的标准来创新地教学</h2>
        <br />
        <div id="myCarousel" class="carousel"> 
          <!-- Carousel indicators 
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" ></li>
            <li data-target="#myCarousel" data-slide-to="2" ></li>
          </ol>-->
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><img src="images/carousel/berkeleyCollege.png"></div>
            <div class="item"><img src="/images/carousel/math-blackboard.png"></div>
            <div class="item"><img src="images/carousel/mitCollage.png"></div>
            <div class="item"><img src="/images/carousel/students-writing.png"></div>
            <!-- <div class="item"><img src=""></div> -->
          </div>
          <!-- Carousel nav
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          -->
        </div>
        <div class='big-media'>
        </div>
      </div>
    </div>
    <div class='container content'>
      <div class='row'>
        <div class='span12'>
          <h2>
              “孩子俩开始上课以后，我突然发现他们学了很多。”          </h2>
          <small>
             －2012年夏天的家长。
          </small>
        </div>
        <div class='span4'>
          <p class='ac'>
          <a class='btn huge success' href='/courses?lang=ch' style='width:90%' title='View Course Offerings'>
            <strong>
                课程介绍
            </strong>
          </a>
          </p>
          <h3 class="ac" style='line-height: 20px;'>
            <small>
                第一类是免费的！
            </small>
          </h3>
          <!-- <h3 class='ac' style='line-height: 1;'>
            100% GUARANTEE
            <br />
            <small>
              First class is FREE
            </small>
          </h3> -->
        </div>
      </div>
      <hr />
      <div class='row' id='svprep-benefits'>
        <div class='span8'>
          <div class='row'>
            <div class='span8'>
                <h3>创新时代的创新课程</h3>
              <p>
                  硅谷考试培训中心（SVPrep）知道我们已经进入了一个新的时代。我们的课程表现出我们对学生和学生的未来的重视。我们的课程包括：Java入门，公开演讲，辩论。
              </p>
            </div>
          </div>
          <div class='row'>
            <div class='span8'>
              <h3>两年的经验</h3>
              <p>
                  “每个家长都认识提高子女的公众演讲技巧的重要性。因此，我相信许多在海湾地区的家长会把孩子送到某种形式的课外活动－－我自己也是唯一个家长。我觉得SVPrep有这些优点：
              </br></br>

          <strong>1. 激情。</strong> SVPrep的青年老师显示出其强大的激情，特别喜欢把他们的学习经验传授给他们的学生。他们很努力，既用他们自己的时间来帮助个个学生。你平常看不到这种贡献。

              </br></br>
              <strong>2. 年龄差异特别小。</strong> 所有的老师都很年轻。他们真正了解自己的学生，而学生觉得更容易与老师互动。同时，老师们仍然有权威，学生也按照他们的指示。
              </p>
              <p>
              －2012年夏天的家长。
              </p>
            </div>
          </div>  
        </div>
        <div class='span8'>
          <div class='row'>
            <div class='span8'>
              <h3>简单地说：我们关心</h3>
              <p>
                  我们的课程教人不仅经历在他们的主题，但也有很深的了解，如何去教别人。硅谷准备大量强调我们的导师了解我们的文化对学生的承诺的重要性。我们所有的老师将提供最高质量的教育经验。
              </p>
            </div>
          </div>
          <div class='row'>
            <div class='span8'>
              <h3>个性化课程</h3>
              <p>
              我们为您提供的学生最高质量的关注不仅通过我们的课程，但教师将举行办公时间，让学生进来，并接受1对1的反馈和关注。
              </p>
            </div>
          </div>
          <div class='row'>
            <div class='span8'>
              <h3>优朋导师</h3>
              <p>
              不要满足于其他程序，聘请50岁的教师，在超过30年没有见过的材料。在硅谷的准备，我们只聘请导师，学生可以涉及到，并有很深的近期曝光的主题。
              </p>
              <p>
              我们的教练赢得了全国辩论邀请赛，在著名的报纸上发表文章，获得了多个工作机会的公司，如谷歌，Facebook和Twitter，和冰雹的大学，如加州大学伯克利分校和麻省理工学院。
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr /> -->
      <!-- <blockquote class='big-quote'>
        <h2>
          "The class was a huge success and I would recommend it to all my friends who have kids who are eager to learn."
        </h2>
        <small>
          Jennifer Huang, Parent
        </small>
      </blockquote> -->
      <div class='well ac'>
        <h3><a href='/courses?lang=ch' title='Check out our courses'>Check out our courses</a>,
          <a href='/instructors?lang=ch' title='times and location'>
            read about our instructors
          </a>
          or
          <a href='/signup?lang=ch' title='sign up now!'>
            sign up now!
          </a>
          &rarr;
        </h3>
      </div>
    </div>
