<div class='hero'>
  <div class='container'>
    <h1>Instructors</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <h2 class="heading">Organizers</h2>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Gerald' src='/images/facepics/gerald.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Gerald Fong, Organizer & Instructor</h4>
        <p>
	Gerald Fong is a second year at UC Berkeley studying Electrical Engineering and Computer Science pursuing a 4 year Bachelors and Masters program focusing on Artificial Intelligence. He started his interest in EE&CS when he took eight CS courses and completed an internship during high school that lead to a patent pending in Data Warehousing algorithms. Since then he has interned at Twitter and has been offered internships at companies including Google, Facebook, LinkedIn, and Dropbox. He has also competed in various hackathons alongside Sharad Vikram winning first place in over four hackathons. Gerald has also been an active leader in other areas. At Lynbrook, he was valedictorian graduation speaker and served as Class Vice President, Vice President of the Model UN Club, President of the Piano Club, and attained Eagle Scout Rank in Troop 495. Gerald is excited to take his academic and industry experiences to teach the next generation! 
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Sharad' src='/images/facepics/sharad.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Sharad Vikram, Organizer & Instructor</h4>
        <p>
	Sharad Vikram is currently a sophomore at UC Berkeley, studying Electrical Engineering and Computer Science. Sharad's love of computer science is best shown by his internships at the San Diego Supercomputer Center, Cubic Transportation Systems, and RewardMe. He will also be interning at Facebook this summer. Sharad has been actively programming at Berkeley and has won several hackathons, beating teams from Stanford, Harvard, and MIT. A graduate of Torrey Pines High School in San Diego, Sharad is currently an Undergraduate Student Instructor at Berkeley, teaching the introductory computer science course and he will be passing on his knowledge to SVPrep students this summer!
        </p>
      </div>
    </div>
    <h2 class="heading">Instructors</h2>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Iris' src='/images/facepics/iris.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Iris Wang, Instructor - Computer Science</h4>
        <p>
          Iris Wang is a sophomore at University of California, Berkeley pursuing a degree in Computer Science. She is currently a course reader for the introductory computer science class at Berkeley and will be an intern at Facebook this summer. She is interested in data structures and artificial intelligence.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Alan' src='/images/facepics/alan.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Alan Kao, Instructor - Debate & Argumentation</h4>
        <p>
	  Alan is currently a Sophomore at UC Berkeley, pursuing dual Bachelors degree in Computer Science and Statistics. Having a strong interest in computer programming, Alan’s interest in data driven software development has led to his current position at IBM's Silicon Valley Laboratory. Further, Alan also has a strong background in logical reasoning, debate, and public speaking; having qualified to the most prestigious debate tournament twice in his high school career and served as Lynbrook High School’s co-president for debate from 2010-2011, Alan is excited to teach share everything that he can with his students!
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Linda' src='/images/facepics/linda.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Linda Xu, Instructor - Introduction to Physics Mechanics</h4>
        <p>
		Linda is currently a sophomore Physics & Math student at MIT. In high school, she received an 800 on the Physics SAT II and 5/5 on both AP Physics C: Mechanics and Electricity & Magnetism. She has also won numerous awards for her astrophysics research at Intel International Science & Engineering Fair (ISEF) and Intel Science Talent Search (STS). She is currently doing research on a new field of gravitational lensing, knows the connection between holographic superconductors and black hole lasers, learned about electroweak unification and thinks it's the coolest thing ever.
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <h2 class="heading">Founders</h2>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Ritik' src='/images/facepics/ritik.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Ritik Malhotra, Co-Founder</h4>
        <p>
          Ritik is currently an undergraduate student at the University of California, Berkeley, where he is pursuing a B.S. in Electrical Engineering & Computer Science and a B.A. in Applied Mathematics. In high school, Ritik was president of the Computer Science Club, the president of the Speech and Debate Team, and the secretary of the Science Club, and was involved in numerous other math and science related clubs and competitions as well. Ritik qualified and placed second twice in the Intel International Science & Engineering Fair (ISEF), was an Intel Science Talent Search (STS) Semifinalist, was ranked in the top 100 for the USA Computing Olympiad (USACO), was a top-scorer on the American Computer Science League (ACSL) multiple times, and qualified to the National Speech and Debate Tournament of Champions (TOC). Ritik has also started and sold his own company in the past, conducted scientific research at Agilent Technologies, and has completed five internships, including one at Twitter last summer. Ritik is going to be doing a software engineering internship at Google this summer along with managing SVPrep.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Carl' src='/images/facepics/carl.jpg' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Carl Shan, Co-Founder and Instructor - Public Speaking</h4>
        <p>
          Carl Shan is currently a student at the University of California, Berkeley where he intends to major in Statistics, with a minor in Philosophy. In high school, he was captain of Lynbrook's High School's debate team. Over the course of his career, he has won numerous championships, including the nation's largest debate event, and advanced to quarterfinals or better at a multitude of other tournaments. In addition to being an accomplished debater, Carl has been published numerous times in local, national and international publications. Carl is also the co-founder of CompassPoint Mentorship, a peer-to-peer mentoring organization that helps point students in the right direction. He taught a public speaking and writing course last summer and looks forward to meeting this year's new batch of students!
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Tony' src='/images/facepics/tony.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Tony Ho, Co-Founder</h4>
        <p>
          Tony is currently a student at Harvard College, pursuing a Bachelors in Applied Mathematics and a Masters in Computer Science through a specialized 4 year program. As a top finisher in math and science competitions, including the Intel Science Talent Search (STS), Intel International Science & Engineering Fair (ISEF), USA Computing Olympiad (USACO), USA Mathematics Olympiad (USAMO), and the USA Physics Olympiad (USAPhO), Tony is no stranger to problem solving. Tony has also conducted scientific research at Stanford University and has completed a summer internship at Google, working as a software engineer. His current interests have been geared to create competitive applications that pose some impact on the real world. Tony has become very involved in creating a community for Computer Science at Harvard while attempting to create the next Facebook. <!-- He wants to pass his knowledge in Math and Computer Science to the new students he is going to teach! -->
        </p>
      </div>
    </div>
    <!--
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Varun' src='/images/facepics/varun.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Varun Pai, Instructor - Intro to Java & Computer Science</h4>
        <p>
          Varun Pai is an undergraduate at U.C Berkeley pursuing a degree in Electrical Engineering and Computer Science. He became excited about computers after taking an introductory class on Java in high school, and hopes to spark a similar enthusiasm in his students this summer. Currently, Varun works as a teaching assistant in Berkeley, where he works more than 15 hours per week. When he is not studying, he enjoys hiking, Yelping, and participating in group hugs. In addition to teaching at SVPrep over the summer, Varun will also be working at Sōsh, a small startup in San Francisco, as a software engineer. On the side, he will also be training hard to prepare for a half marathon in the fall.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Mihir' src='/images/facepics/mihir.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Mihir Deo, Instructor - Public Speaking</h4>
        <p>
          Mihir Deo is currently a sophomore at the UC Berkeley, majoring in Business Administration at the Haas School of Business and minoring in Public Policy at the Goldman School of Public Policy. He attended Lynbrook High School, where he was the captain of the speech team. Through his career at Lynbrook, he established himself as one of the top speakers in the state and country. He qualified to the National Speech Tournament of Champions three years in a row, as well as won a multitude of tournaments throughout the state. At Berkeley, Mihir is the Managing Editor of the nationally recognized Berkeley Political Review. He was also the host of a sports radio show for a while on 1170 AM and 94.1FM. Most recently, he was elected as one of only 20 Senators to represent the entire student body at UC Berkeley. Outside of his busy life, Mihir loves to watch football and play cricket, his two favorite hobbies.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Belinda' src='/images/facepics/belinda.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Belinda Tang, Instructor - Essay Writing & Journalism</h4>
        <p>
          Belinda Tang is a sophomore at Stanford University where she is majoring in Public Policy and minoring in History. During high school, she competed extensively in debate at Lynbrook High School, winning the California state championship as well as progressing to elimination rounds in numerous national tournaments. In addition, she placed 3rd place in California with Lynbrook's Mock Trial team, also winning the award for best lawyer in Santa Clara. Belinda is passionate about poverty alleviation, both locally and abroad. She has volunteered in an East Palo Alto preschool and co-founded a student group on campus teaching financial literacy to high school students. In addition, she interns at WellDone, a non-profit working in global water issues, and is involved in research on sanitation in Haiti with Stanford's Civil Engineering Department.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Kimberly' src='/images/facepics/kimberly.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Kimberly Tan, Instructor - Essay Writing & Journalism</h4>
        <p>
          Kimberly is an incoming senior and currently attends Lynbrook High School. As Vice President of her school's 200-member speech and debate team, she travels across the country attending debate tournaments and has a multitude of experience in public speaking and argumentation. Outside of debate, she is also extremely passionate about creative and expository writing, tutoring students in essay-writing and writing for Lynbrook's literary magazine. In order to foster creative growth in her community, she also established a literary magazine, named Overture Literary Magazine, at her local middle school, and is working on expanding it to other middle schools in San Jose  She hopes to encourage others to polish their writing skills and recognize the value writing holds in every activity and occupation.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Viveka' src='/images/facepics/viveka.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Viveka Jagadeesan, Instructor - Debate & Argumentation</h4>
        <p>
          Viveka is a graduating senior at Lynbrook High School in San Jose. She competed in Lincoln Douglas debate in high school, earning speaker awards at and debating in outrounds of major tournaments, including the Stanford National Invitational and the California Cup at Berkeley. She was invited to participate in the Cal Round Robin and earned a qualifying leg to the prestigious Tournament of Champions in LD. Viveka has considerable experience coaching debate. She served as captain of Lincoln Douglas debate at her school and has three years of experience teaching younger students at summer camp. She believes that learning speech and debate is empowering to students and is excited to share her love of forensics.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Karen' src='/images/facepics/karen.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Karen Ouyang, Instructor - MathCounts & AMC 8 Prep</h4>
        <p>
          Karen is a rising senior at Lynbrook High School, where she is greatly involved in the math and computer science activities. As treasurer of its fabulous math club this past year, Karen has experience in leadership in math. She was a top scorer for the AMC 10, and is familiar with the AMC 10, AMC 12, and AIME math contests. Karen is also proficient with Java programming, ranking among the highest scorers in the USACO Silver Division. When Karen isn't doing math, programming, sleeping, or eating, she enjoys designing websites and playing the violin. She encourages students, especially girls, to be involved in the ever-expanding fields of mathematics and computer science.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='span2'>
        <p>
          <img alt='Sudi' src='/images/facepics/sudi.png' width='100' />
        </p>
      </div>
      <div class='span14'>
        <h4>Sudarshan Bhat, Instructor - Biology Tutor</h4>
        <p>
          <b>Scores:</b> <i>800 on Biology M SAT II, 5 on AP Biology</i>
          <br />
          <b>Biography:</b> Sudarshan Bhat is a student at UC Berkeley pursuing a degree in Biochemical Molecular Biology with a Minor in Global Poverty and Practice. He has competed in Science Fairs all through High School and as a five time 1st place winner and a Biology Grand Prize winner at the Synopsys Science Fair, he continued to the top positions at both the California State Science Fair and Intel's International Science and Engineering Fair in 2010. President of Lynbrook High School's Science Club during his Junior and Senior years there, Sudarshan continues his leadership in UC Berkeley as Logistics Director of MEDLIFE, an NGO which organizes medical brigades to South America, as Captain of Dil Se, a nationally acclaimed South-Asian A Cappella team, and by continuing independent research in the field of Clinical Molecular Biology. Sudarshan plans on going to Medical School and encourages his peers and students to gain a passion for science by learning through understanding rather than memorization.
        </p>
      </div>
  </div>
  <div class='row'>
    <div class='span2'>
      <p>
        <img alt='Aniruddha' src='/images/facepics/aniruddha.png' width='100' />
      </p>
    </div>
    <div class='span14'>
      <h4>Aniruddha Dasgupta, Instructor - Chemistry Tutor</h4>
      <p>
        <b>Scores:</b> <i>800 on Chemistry SAT II, 5 on AP Chemistry, Top 150 on USA Chemistry Olympiad</i>
        <br />
        <b>Biography:</b> Aniruddha is currently a second year student at UC Berkeley, pursuing Bachelors degrees in both Chemical Engineering and EECS (Electrical Engineering and Computer Science). Since his years as a child, he has been passionate about science and technology. Aniruddha has a long-standing passion for Chemistry and chose to major in Chemical Engineering after falling in love with the subject after taking AP Chemistry in high school. In 2009, he received the top score on the Local Chemistry Olympiad test in his high school, and went on to place in the top 150 on the National Chemistry Olympiad test. This summer, he will be working at Facebook as a software engineering intern, hoping to enrich his experience in the field. In his free time, he enjoys watching and playing basketball and playing video games such as Call of Duty and Halo. He has also tutored numerous students in the past, and is excited to spread his passion for and knowledge of Chemistry this summer.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span2'>
      <p>
        <img alt='Naveen' src='/images/facepics/naveen.png' width='100' />
      </p>
    </div>
    <div class='span14'>
      <h4>Naveen Venkatesan, Instructor - Physics Tutor</h4>
      <p>
        <b>Scores:</b> <i>800 on Physics SAT II, 5 on AP Physics, A+ in Berkeley's Advanced Chemistry Course</i>
        <br />
        <b>Biography:</b> Naveen is currently a second year student pursuing a Bachelor’s Degree in Chemical Engineering from UC Berkeley. He is a propective member of the Tau Beta Pi engineering honors society as well as part of the UC Berkeley College of Chemistry Dean’s Honor List. Naveen is also the recipient of the UC Berkeley Regents’ Scholarship and the Melvin J. Heger-Horst Undergraduate Fellowship. His interest in the field of chemical engineer is the design of clean, alternative forms of energy for the future. Outside of class, his hobbies include playing the guitar and saxophone, as well as playing and watching sports. He is eager to share his love of math and science with the next generation of students.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span2'>
      <p>
        <img alt='Rohan' src='/images/facepics/rohan.png' width='100' />
      </p>
    </div>
    <div class='span14'>
      <h4>Rohan Varma, Instructor - Mathematics Tutor</h4>
      <p>
        <b>Scores:</b> <i>800 on Math Level 2 SAT II, 5 on AP Calculus BC, Top 100 in the Candadian International Mathematics Competition, Rank 729 in the Mathematics section of the Indian Institute of Technology Entrance Exam (IIT-JEE)</i>
        <br />
        <b>Biography:</b> Rohan is an undergraduate at UC Berkeley pursuing a triple major in Electrical Engineering & Computer Science (taking advanced courses in the fields of electronics, circuit design, physics, signal processing, computer vision and machine learning), Economics, and Statistics in a four year program. Rohan does research at Lawrence Berkeley National Laboratory in a low temperature physics and material science lab that deals largely with electric transport studies in superconductors. He loves talking about his research and is passionate about learning. He will be interning at Samsung R&D this summer working with the mobile sensing and vision team working on next-gen hardware. As an international student, he has lived in a variety of different countries and speaks up to 6 different languages to a reasonable level of fluency.  Rohan is passionate about music and soccer. He is excited about teaching the next-generation of leaders and innovators this summer while sharing his passion for teaching, mathematics, electrical engineering, and physics.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span2'>
      <p>
        <img alt='May' src='/images/facepics/may.jpeg' width='100' />
      </p>
    </div>
    <div class='span14'>
      <h4>May Wu, Instructor - Mathematics Tutor</h4>
      <p>
        <b>Scores:</b> <i>800 on Math Level 2 Sat II, 5 on AP Calculus BC, AP Calculus BC Math Department Award</i>
        <br />
        <b>Biography:</b> May is an undergraduate at the University of Southern California (USC) studying Business Administration and taking classes toward a double major in Computer Science. At USC she has been a part of numerous organizations, including the Marshall Global Leadership Program (GLP) which is only offered to the top 10% of incoming Marshall freshmen as well as Teach for Los Angeles (TFLA). Her Saturday mornings at TFLA are spent tutoring underprivileged students of all grades in math and helping them cultivate their desire to learn. Among friends she is a well-known foodie and she loves to try new things. Her personal goals include learning at least five languages throughout her lifetime. She also has her own passion towards math and writing (both creative and essay-styled), the former she discovered more recently while she has produced multiple short stories and novels for fun since she was very young from the latter. Above all, she values education as the most important tool to make anything out of yourself in life, therefore, she believes a strong desire to learn is key.
      </p>
    </div>
  </div>
  -->
</div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
