<div class='hero'>
  <div class='container'>
    <h1>Timings & Location</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
      <h3>Dates</h3>
      <p>
		    <b>Program Dates</b>: June 16 to August 19
        <ul>
          <li><b>Session A</b>: June 16 to July 15</li>
          <li><b>Session B</b>: July 21 to August 19</li>
        </ul>
      </p>
      <h3>Timings</h3>
      <p>
        Silicon Valley Prep classes will be held only on weekends. Please take a look at the <a href="/courses">courses page</a> to find out when each course is offered on the weekend.
      <p>
        Class will be offered:
        <ul>
          <li>Saturday, 10AM to 1PM</li>
          <li>Saturday, 2PM to 5PM</li>
          <li>Sunday, 10AM to 1PM</li>
          <li>Sunday, 2PM to 5PM</li>
        </ul>
      </p>
      <h3>Location</h3>
      <p>
        Silicon Valley Prep has two locations in the San Jose / Cupertino area. Please take a look at the <a href="/courses">courses page</a> to see where each course is offered. Unfortunately we've had to get rid of our Fremont location because of logistical issues and will only be offering classes in the San Jose / Cupertino area this summer. People from Fremont are more than welcome to come take classes in our other locations!
        <h5>San Jose</h5>
        <ul>
          <li><b>Location 1</b>: Dilworth Elementary School at 1101 Strayer Drive, San Jose, CA 95129</li>
          <li><b>Location 2</b>: Little-Champs Enrichment Center at 1025 South De Anza Blvd, San Jose, CA, 95129</li>
        </ul>
        <!-- <h5>Fremont/Milpitas</h5>
        <ul>
          <li><b>Location</b>: O-Mei Learning Center at 451 Los Coches St Milpitas, CA 95035</li>
        </ul> -->
      </p>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
