<div class='hero'>
  <div class='container'>
    <h1>Timings & Location</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
        <h3>日期</h3>
      <p>
        <b>课程日期</b>： June 15 to August 18
        <ul>
          <li><b>Session A</b>: June 15 to July 13</li>
          <li><b>Session B</b>: July 20 to August 18</li>
        </ul>
      </p>
      <h3>Timings</h3>
      <p>
        Classes will be held only on weekends. Please take a look at the <a href="/courses?lang=ch">courses page</a> to find out when each course is offered on the weekend.
      <p>
        Class will be offered:
        <ul>
          <li>Saturday, 10AM to 1PM</li>
          <li>Saturday, 2PM to 5PM</li>
          <li>Sunday, 10AM to 1PM</li>
          <li>Sunday, 2PM to 5PM</li>
        </ul>
      </p>
      <h3>Location</h3>
      <p>
        课程在圣何塞/ Cupertino的地区举班。
        <!-- <h5>San Jose</h5> -->
        <ul>
          <!-- <li><b>Location 1</b>: Dilworth Elementary School at 1101 Strayer Drive, San Jose, CA 95129</li> -->
          <li><b>地点</b>: Little Champs, 1025 S De Anza Blvd  San Jose, CA 95129</li>
        </ul>
        <!-- <h5>Fremont/Milpitas</h5>
        <ul>
          <li><b>Location</b>: O-Mei Learning Center at 451 Los Coches St Milpitas, CA 95035</li>
        </ul> -->
      </p>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup?lang=ch' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
