<div class='hero'>
  <div class='container'>
    <h1>Testimonials</h1>
  </div>
</div>
<div class='container content'>
  <div class='row'>
    <div class='span16'>
      <h2>Testimonials From Last Year's Parents</h2>
    </div>
    <div class='span8'>
      <blockquote>
        <p>
          "This is a great class. My son is very excited about the class and the instructor, Carl. I didn't expect that he could work this hard on public speaking. In addition to the speech techniques he learned in the class, he admires Carl's capability. I certainly hope my son will make Carl his role model."
        </p>
      </blockquote>
      <blockquote>
        <p>
          "SVPrep's Public Speaking Class is an eye opening experience for my 11 year old boy. He feels so excited and enthusiastic right after the first class. He keeps talking about his teacher Carl Shan and couldn't wait for the next class. It's rare to see him not able to wait while at beginning he thought this would not fit his summer vacation. As a parent, I am so happy to find a right place for my boy who can really have fun from learning. Although later he realized that class homework is equally important and feels a little stretched, I feel happy to see him make it through and show progress every week. It's fortunate to have Carl Shan as the teacher who is not only gifted and talented in teaching public speaking, but also very passionate about what he does and cares about each and everyone in the class. I can see how much attention he puts into each student and all his students just love to put the extra effort to meet him weekly for his office hours on top of the weekend class. It is a class full of fun and education and it could be a life changing experience. In my opinion, the class is a huge success and I would recommend it to all my friends who have kids who eager to learn."
        </p>
      </blockquote>
    </div>
    <div class='span8'>
      <blockquote class="pull-right">
        <p>
          "My daughter likes your class a lot. She had fun blogging, and told me the class is helpful. She also enjoyed your talk on college admissions. She admires you for reading a lot and being very knowledgable. She showed me her speech last night and I was impressed. I will definitely support her to build upon the skills and techniques she gained from your class in the future. Thank you very much for teaching her and being a great role model to her."
        </p>
      </blockquote>
      <blockquote class="pull-right">
        <p>
      "Every single parent knows the importance of improvements of their children's public speech skills. Therefore, I believe many parents in Bayarea have sent their children into some sort of extracurricular classes before, and I'm of them. Here are my key observations how the SVPrep programs make a difference:
<br /><br />
      1. Passion. The young teachers at SVPrep have shown their strong passion to pass their successful learning experience to their students. They went the extra mile and used their personal times to work with individual students, which you usually do not see in other summer programs.
<br /><br />
      2. Age difference. All teachers are so young that they really understand their students while their students find easier to interact with their teachers. Meanwhile, the teachers still have authority that students follow their instructions."
        </p>
      </blockquote>
    </div>
    <div class='span16'>
      <h2>Testimonials From Last Year's Students</h2>
    </div>
    <div class='span8'>
      <blockquote>
        <p>
          "I feel that Carl is a great teacher. He helps us by making us play games that helps us practice the skills we learn. I like how Carl talked about mind set, it was a very motivational speech. Carl has taught me a lot about public speaking, such as the power of pause. Carl helped me a LOT because he scheduled individual one on ones, and made us write blogs which would help us express ourselves. I FEEL THIS CLASS WAS BEAST!!!"
        </p>
      </blockquote>
    </div>
    <div class='span8'>
      <blockquote class="pull-right">
        <p>
          "I think this class is great. It helped me learn a lot more about speaking to friends and colleagues. This camp was a great experience and I was very sad when it ended. It hepled me learn public speaking, elements of life, and even some debating! I have a story too: I went to a music camp this summer and I was told I would play first violin but I ended up playing second violin. So I debated with my unfair teacher. I won and I remeber before the class, that I would never have done that. And even if I tried, I would have been stuttering and would not get my point across. This class has truly helped me!!! :)"
        </p>
      </blockquote>
    </div>
  </div>
  <div class='well ac'>
    <h3>
      <a href='/signup' title='Sign up for your classes now!'>
        Sign up for your classes now!
      </a>
      &rarr;
    </h3>
  </div>
</div>
